doctype html
html
  body
    header
    div
      h1 Hi, #{name}
      p Your password was just reset.
      p If you didn't request this change please
        |
        a(
          href='mailto:' + returnEmail + '?subject=I did not reset my password&body=Someone unauthorized sent this reset password request.'
        ) let us know
        | .
