doctype html
html
  body
    header
    div
      h1 Hi, #{name}
      p We got a request to reset your password.
      p
        a(href=hashLink) Reset Password
      p If you ignore this message your password won't be changed.
      p If you didn't request this change please
        |
        a(
          href='mailto:' + returnEmail + '?subject=I did not reset my password&body=Someone unauthorized sent this reset password request.'
        ) let us know
        | .
