html
  max-height 100%

body
  background #f4f4f4
  font-family 'Nunito'
  color rgba(0,0,0,0.87)

a
  text-decoration none
  cursor pointer

.uploadable
  .upload
    display none
  &:hover .upload
    display flex
