// App Shared Variables
// --------------------------------------------------
$primary   = #607d8b
$secondary = #455a64
$tertiary  = #555

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #F2453D
$info      = #31CCEC
$warning   = #F2C037

// Material only Quasar variables overwrites
// -----------------------------------------
$generic-border-radius = 8px
$button-rounded-border-radius = 8px
$toolbar-min-height = 56px
$shadow-up-1 = 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14)
$layout-footer-shadow = $shadow-up-1

:export
  primary $primary
