// @import 'themes/common.variables'

::-webkit-scrollbar
  -webkit-appearance none
  background #f4f4f4

::-webkit-scrollbar:vertical
  width 8px

::-webkit-scrollbar:horizontal
  height 8px

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner
  display none

::-webkit-scrollbar-track
  // background rgba(0,0,0,0.1)
  // background transparent
  // border 1px solid transparent

::-webkit-scrollbar-track:hover
  /*background #f9f9f9
  border-color #e1e1e1*/background

::-webkit-scrollbar-track:vertical
  // border-width 0 0 0 1px

::-webkit-scrollbar-track:vertical:corner-present
  // border-width 0 0 1px 1px
  // border-radius 0 0 0 2px

::-webkit-scrollbar-track:horizontal
  // border-width 1px 1px 0 1px
  // border-radius 2px 2px 0 0

::-webkit-scrollbar-thumb
  min-height 2rem
  // background rgba(0,0,0,0.1)
  // background-color #555
  background-color #677a8a
  background-clip padding-box
  border 2px solid transparent
  border-radius 10px

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active
  background-color #53697b
  border-width 1px
